%h1=t(:analytics)
%br
.analytics-header-wrapper.container-fluid
  .row
    .col-wrapper.col-sm-4
      .col-wrapper-inner
        =t(:select_year)
        %br
        =select_year Date.today, { start_year: 2014, end_year: Date.today.year }, { class: "custom-select" }
        %br
        %br
        =t(:presellers)
        %br
        =collection_select(:preseller, :id, @presellers, :id, :trading_agent_name, {prompt: true}, {class: "custom-select", autocomplete: "off"})
        %br
        %br
        =t(:contractors)
        =select_tag :contractor_id, nil, { prompt: "--#{t(:select_preseller_first)}--", id: "contractor-selector", class: "", autocomplete: "off", style: "width: 100%;"}
    = render "analytics_info_wrapper_data"

%br

.analytics-body-wrapper
