%br
%h1 Synchronisations
%br

%table.custom-table.table.table-bordered.table-hover
  %thead.thead-default
    %tr
      %th #
      %th Operation Name
      %th Last Synced
      %th
  %tbody
    - @operations.each.with_index(1) do |operation, index|
      %tr
        %td= index
        %td= operation.operation_name
        %td= operation.time_from_last_sync
        %td
          -if index == 6
            -# = select_date Date.today, { prefix: :date, with_css_classes: true}, { class: "custom-select" }
            = select_tag :week_date, options_for_select(@mondays_array), class: "custom-select date"
            %br
            %br

          %button{ class: "synchronise-action btn btn-info",
                   operation_code: operation.operation_code }
            Synchronise

.response-div
  test_div
