@import "bootstrap";
@import "alertifyjs/build/css/alertify";
@import "select2";
@import "select2-bootstrap";
@import "*"; //require current dir

$black: #000;
$red: #f00;
$green: #0f0;
$blue: #00f;
$sgi-salmon: #c67171;
$sgi-brightgray: #c5c1aa;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-base:             #428bca;
$brand-primary:          darken($brand-base, 6.5%) !default; // #337ab7
$brand-success:          #5cb85c;
$brand-info:             #5bc0de;
$brand-warning:          #f0ad4e;
$brand-danger:           #d9534f;

.wrapper {
  padding: 1%;

  h1 {
    text-align: center;
  }
}

.response-div {
  border: 1px solid $black;
  padding: 1em;
}

.analytics-header-wrapper,
.col-wrapper-inner,
.week-header,
.week-body {
  border: 1px solid $gray;
  overflow: hidden;
}

.analytics-header-wrapper {
  background-color: $gray-lighter;
  border-radius: 0.5em;

  .col-wrapper {
    padding: 0.25em;
  }

  .col-wrapper-inner {
    background-color: $white;
    padding: 0.5em;
    height: 100%;
    border-radius: 0.5em;
  }
}

.analytics-body-wrapper {
  background-color: $gray-lighter;
  border: 1px solid $gray;
  border-radius: 0.5em;
  padding: 0.25em;

  .week-header {
    border-radius: 0.5em;
    background-color: $gray-light;
    padding: 0.5em 0.25em 0;
    color: $white;

    .week-number {
      padding: 0.2em;
      color: $black;
      background-color: darken($brand-warning, 15%);
      // border: 1px solid $black;
      border-radius: 50%;
    }
  }

  .week-body {
    border-radius: 0.5em;
    background-color: $white;
    margin: 0.25em 0 1em;
    padding: 0.25em;

    .amount-beginning { }
    .sales {
      background-color: lighten($brand-danger, 20%);
      padding: 0.2em;
    }
    .sales-returns { }
    .debt-adjustment { }
    .payment {
      background-color: lighten($brand-success, 20%);
      padding: 0.2em;
    }
    .amount-returns { }
    .amount-the-end { }
  }

}
